<div class="example-1">
  Example 1 (css: > div)
</div>
<div class="example-2">
  Example 2 (css: div)
</div>
<section class="example-3">
  Example 3 (css: > section)
</section>
<section class="example-4">
  Example 4 (css: section)
</section>
<div class="example-5">
  Example 5
  &amp;:is([data-foo=&quot;bar&quot;]) {{ "{" }}
  &gt; div.example-5 {{ "{" }}
  background-color: lightskyblue;
  {{ "}" }}
  {{ "}" }}
</div>
<div class="example-6">
  Example 6 (css: div)
  &amp;:is([data-foo=&quot;bar&quot;], [data-foo-2=&quot;bar-2&quot;]) {{ "{" }}
  &gt; div.example-6 {{ "{" }}
  background-color: violet;
  {{ "}" }}
  {{ "}" }}
</div>
